.headerBg {
  height: 170px;
  width: 100%;
  background-image: url('../../assets/image/header-bg.png');
  background-position: left;
  background-repeat: no-repeat;
}
.headerLogo {
  display:block;
  height: 105px;
  width: 600px;
  background-image: url('../../assets/image/header-logo.png');
  z-index: 100;
  position: absolute;
  left: 20px;
  top: 28px;
}
.nav {
  width: 980px;
  margin-bottom: 20px;
}
.mainContainer{
  width: 980px;
  margin-left: auto;
  margin-right: auto;
}
